{% extends "todo/base.html" %}
{% load static %}
{% block content %}
  <h1 style="text-align:center;">Task List</h1>
  

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTaskModal">
    Create Task
  </button>

  <!-- Include the create task modal -->
  {% include "todo/task_create_modal.html" %}


  <div class="row">
    {% for task in tasks %}
      <div class="col-sm-6 col-md-4 col-lg-3 my-2 ">
        <div class="card {% if task.priority == 'H' %}high-priority{% elif task.priority == 'M' %}medium-priority{% else %}low-priority{% endif %}">
        <div class="card-header">{{ task.title }}</div>
          <div class="card-body" style="padding:10px;">
            <p class="card-text">{{ task.description }}</p>
            <p class="card-text" style="margin-bottom:0;"><strong>Due date:</strong> {{ task.due_date }}</p>
            <p class="card-text" style="margin-bottom:0;"><strong>Priority:</strong> {{ task.get_priority_display }}</p>
            <form method="post" action="{% url 'todo:completed_tasks' %}" style="display:inline-block; margin-right:10px;">
              {% csrf_token %}
              <input type="hidden" name="task_id" value="{{ task.id }}">
              <button type="submit" style="padding:5px 10px; font-size:0.9rem; background-color:#28a745; color:#fff; border-radius:5px; border:none;" {% if task.completed %}disabled{% endif %}>Mark as Complete</button>
            </form>
            <a href="{% url 'todo:edit_task' task.id %}" style="padding:5px 10px; font-size:0.9rem; background-color:#6c757d; color:#fff; border-radius:5px; text-decoration:none; margin-right:10px;">Edit</a>
            <a href="{% url 'todo:delete_task' task.id %}" style="padding:5px 10px; font-size:0.9rem; background-color:#dc3545; color:#fff; border-radius:5px; text-decoration:none;">Delete</a>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col" style="text-align:center;">
        <p>No tasks yet.</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
